@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header{
    background: hsl(190, 45%, 74%);
    background: transparent;
    border-bottom: 1px solid white;
}

.chat-page .header{
    grid-area: 1 / 1 / 2 / 3;
}

.form-page .header{
    grid-area: 1 / 1 / 2 / 2
}

.header span img{
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    top: .8rem;
    margin: 0 -4px 0 -4px;
}

.header p{
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem 0 0 0;
    align-self: center;
    font-family: 'Lobster', cursive;
}