.textview {
  /* grid-column: 2 / 3; large devices*/
  grid-row: 3 / 4;
  background-color: rgb(207, 242, 245);
  display: flex;
  transition: height .1s ease-in-out
}

.textview:focus-within{
  height: 4.4rem
}

.textview .sendButton {
  /* width: 30px;
    height: 30px; */
  background: none;
  outline: none;
  border: none;
  align-items: flex-end;
  margin-top: .27rem
}

.sendButton-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: .5rem;
}

.message-view-container {
  display: flex;
  justify-content: left;
  width: 300%;
  padding: .1rem 0 .1rem 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  transition: height .1s ease-in-out;
}

.message-view-container:focus-within{
  height: 4.4rem;
}

.textview .sendButton:checked {
  outline: none;
}

.sendButton .sendButton-img {
  width: 25px;
  height: 25px;
}

.message-view {
  height: 65%;
  box-sizing: border-box;
  border-radius: 2rem;
  width: 100%;
  background: white;
  padding: .55rem 1.2rem .2rem 1.2rem;
  border: none;
  resize: none;
  min-height: 2.2rem;
  /* resize: vertical; */
  max-height: 4rem;
  overflow: hidden;
  transition: height .1s ease-in-out;
  scrollbar-width: thin;
  scrollbar-color: #98ccfd transparent;
}

.message-view:focus{
  height: 85%;
  overflow-y: scroll;
  outline: none
}

.message-view:empty::before{
    content: "Send a message...";
}


