@import './styles/header.css';
@import './styles/Home.css';
@import './styles/Form.css';
@import './styles/TextField.css';
@import './styles/contactList.css';
@import './styles/contact.css';
@import './styles/ChatView.css';
@import './styles/ChatPage.css';
@import './styles/message.css';
@import './styles/formPage.css';
@import './styles/Form.css';

*{
  font-family: cursive;
}

body, html, #root, .chat-page, .form-page, .home-container{
  width: 100%;
  height: 100%
}